extends index

block server_status
    
    div(id="div_status", class="div_index_status")
        div(id="div_MSKclient", style="width:20%;float:left")
        div(id="div_Address", style=";float:left")
    div(style="clear:left")
    div()
    script(src="javascripts/101.js")
    script document.getElementById('101_btn').style.backgroundColor = "blue";