extends index

block server_status
    div(id="div_status", style="float:right;width:80%")
        
    script(src="javascripts/101.js")
    script document.getElementById('101_btn').style.backgroundColor = "blue";