extends index

block server_status
    div(id="div_status", class="div_index_status")
        div(id="div_MSKclient", style="width:16%;float:left")
        div(id="div_Address", style="width:80%;float:left")
    div(style="clear:left")
    p(id="p_MSK_Server",class="MSK_Server") MSK-Server
    script(src="javascripts/102.js")
    script document.getElementById('102_btn').style.backgroundColor = "blue";