extends index

block server_status
    div(id="div_status", style="float:right;width:50%")
        
    script(src="javascripts/102.js")
    script document.getElementById('102_btn').style.backgroundColor = "blue";