extends index

block server_status
    div(id="div_status", style="float:right;width:80%")
        
    script(src="javascripts/103.js")
    script document.getElementById('103_btn').style.backgroundColor = "blue";