extends index

block server_status
    div(id="div_status", style="float:right;width:80%")
        
    script(src="javascripts/104.js")
    script document.getElementById('104_btn').style.backgroundColor = "blue";