extends layout

block content
  //- 버튼 구역
  div
    button(class='title_btn', onclick="location.href='/ServerRoom'", id="server_btn") 서버실
    button(class='title_btn', onclick="location.href='/101'", id="101_btn") 101동
    button(class='title_btn', onclick="location.href='/102'", id="102_btn") 102동
    button(class='title_btn', onclick="location.href='/103'", id="103_btn") 103동
    button(class='title_btn', onclick="location.href='/104'", id="104_btn") 104동
  //- 점등 안내 구역
  div
    div(class="indicate_normal", style="float:left; width:20%;margin:3%") 정상
    div(class="indicate_warning", style=" float:left; width:20%;margin:3%") 이상
    div(class="indicate_connection_error", style="float:left; width:20%;margin:3%") 연결끊김
    p(style="clear:left")

  //- 세대별 list파일 파싱 스크립트 호출
  script(src="/javascripts/Web_list.js",)
  //- 각 세대별 상태 표시
  block server_status
