extends index

block server_status
    div(id="div_status", style="float:right;width:70%")
    p(id="p_MSK_Server",class="MSK_Server") MSK-Server
    script(src="javascripts/serverroom.js")
    script document.getElementById('server_btn').style.backgroundColor = "blue";