extends index

block server_status
    div(id="div_status", style="float:right;width:60%")
    script(src="javascripts/serverroom.js")
    script document.getElementById('server_btn').style.backgroundColor = "blue";