body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.my_btn{
  background-color: rgb(37, 76, 218);
  color: white;

  width:100px;
  height:30px;
}