body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title_btn{
  background-color: rgb(79, 228, 254);
  color: rgb(255, 255, 255);
  width:13%;
  height:30px;
  margin:20px 20px;
}

.indicate_normal{
  color:black;
  background-color: greenyellow;
  text-align: center;
  border : 2px solid greenyellow;
  padding : 3px 3px;
}
.indicate_warning{
  padding : 3px 3px;
  color: black;
  background-color: yellow;
  text-align: center;
  border : 2px solid yellow
}
.indicate_connection_error{
  padding : 3px 3px;
  color:white;
  background-color:red;
  text-align: center;
  border : 2px solid red
}
.div_index_status{
  float : right;
  width : 80%;
}
.div_Whole_status{
  width: 5%;
  margin: 3px;
  float : left;
}
.div_part_status{
  float : left;
  margin : 3px
}

.div_server_status{
  float: left;
  margin: 3px;
}

.p_status{
  color : red
}