body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.div_title_btn{
  border:1px solid black
}
.title_btn{
  background-color: rgb(79, 228, 254);
  color: rgb(255, 255, 255);
  width:13%;
  height:30px;
  margin:20px 20px;
  border : 1px solid black;
}
.MSK_Server{
  color:black;
  background-color: mintcream;
  text-align:center;
  border:2px solid paleturquoise
}
.indicate_normal{
  color:black;
  background-color: greenyellow;
  text-align: center;
  border : 2px solid black;
  padding : 1px 1px;
}
.indicate_warning{
  padding : 1px 1px;
  color: black;
  background-color: yellow;
  text-align: center;
  border : 2px solid black;
}
.indicate_connection_error{
  padding : 1px 1px;
  color:white;
  background-color:red;
  text-align: center;
  border : 2px solid black;
}
.div_index_status{
  float : right;
  width : 80%;
}
.div_Whole_status{
  width: 5%;
  margin: 3px;
  float : left;
}
.div_part_status{
  float:left;
}

.div_part_status_title{
  float:static;
  width : 100%
}
.div_server_status{
  float: left;
  margin: 3px;
}
.p_status{
  color : red
}
.div_mskclient_part{
  height: 100px;
  margin: 30px 5px 0px 5px;
  border: 1px solid black;

}